strict-peer-dependencies=false
package-lock = false
lockfile=true
registry=http://apps-hp.danlu.netease.com:41842/repository/npm-group-prod/
always-auth=true
auto-install-peers=true
link-workspace-packages=false # 开发模式直接使用源代码，构建模式使用已发布的包，除非显示使用workspace协议
ignore-scripts=false # 允许安装包时执行脚本
//apps-hp.danlu.netease.com:41842/repository/npm-group-prod/:_authToken="${NPM_TOKEN}"
# 配置 @fuxi 作用域包的 registry，用于 npx 命令
@fuxi:registry=http://apps-hp.danlu.netease.com:41842/repository/npm-group-prod/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
electron_mirror=https://npm.taobao.org/mirrors/electron/
